SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/wmp?currentSchema=portfolio_schema
SPRING_DATASOURCE_USERNAME=portfolio_svc_user
SPRING_DATASOURCE_PASSWORD=localdev123
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
